<div class="nav-list">
    <a routerLinkActive="link-active"
        routerLink="signals">signals</a>

    <a routerLinkActive="link-active"
        routerLink="update-ng">update-ng</a>

    <a routerLinkActive="link-active"
        routerLink="at-if">at-if</a>

    <a routerLinkActive="link-active"
        routerLink="at-for">at-for</a>
    <a routerLink="ng-module"
        routerLinkActive="link-active">ng-module</a>
    <a routerLink="camera"
        routerLinkActive="link-active">camera</a>
</div>
