<div class="image">
    <img [src]="ebImage.url"
        alt="">
</div>
<div class="icons">
    <!-- {{ebImages.length}}
    {{index}} -->
    @if(index !=0){
    <mat-icon (click)="onMove('up')">
        arrow_upward
    </mat-icon>
    }
    @if(index != ebImages?.length - 1){
    <mat-icon (click)="onMove('down')">
        arrow_downward</mat-icon>
    }
</div>
<div class="right">
    @if(!editmode){
    <div class="not-editmode">
        <div class="image-properties">
            <div class="image-property image-title-container">
                <div class="property-name">title:</div>
                <div class="">{{ebImage.title}}</div>
            </div>
            <div class="image-property artist-container">
                <div class="property-name">artist:</div>
                <div class="">{{ebImage.artist}}</div>
            </div>
            <div class="image-property price-container">
                <div class="property-name">price:</div>
                <div class="">{{ebImage.price|currency:"EUR"}}</div>
            </div>
            <div class="image-property sold-container">
                <div class="property-name">sold:</div>
                <div class="">{{ebImage.sold}}</div>
            </div>
        </div>
        <button mat-icon-button
            (click)="editmode = !editmode">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    }
    @if(editmode) {

    <form [formGroup]="form">

        <mat-form-field style="display: none;">
            <mat-label>url</mat-label>
            <input type="text"
                matInput
                formControlName="url">
        </mat-form-field>
        <mat-form-field style="display: none;">
            <mat-label>file name</mat-label>
            <input type="text"
                matInput
                formControlName="filename">
        </mat-form-field>

        <mat-form-field>
            <mat-label>title</mat-label>
            <input type="text"
                matInput
                formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>artist</mat-label>
            <input type="text"
                matInput
                formControlName="artist">
        </mat-form-field>
        <mat-form-field>
            <mat-label>price</mat-label>
            <input type="number"
                matInput
                formControlName="price">
        </mat-form-field>
        <mat-checkbox formControlName="sold"
            class="example-margin"
            [checked]="true">
            sold
        </mat-checkbox>
    </form>
    <div class="buttons">
        <button mat-raised-button
            (click)="editmode = !editmode">cancel</button>
        <button mat-raised-button
            (click)="onSubmit()">submit</button>
        <button mat-raised-button
            (click)="onDeleteImage()">delete image</button>
    </div>
    }
</div>
<!-- <mat-icon (click)="onDeleteImage()"
    color="warn">delete</mat-icon> -->
