<button *ngIf="isRootNode"
    mat-raised-button
    [matMenuTriggerFor]="menu">
    {{ trigger }} <span>rootmode</span>
    <div>
        is expandable: {{database.isExpandable(trigger)}}
    </div>
</button>

<button *ngIf="!isRootNode"
    mat-menu-item
    [matMenuTriggerFor]="menu"
    (menuOpened)="getData(trigger)"
    (click)="navigate(trigger)">
    {{ trigger }} <div>!rootmode</div>
    <div>
        is expandable: {{database.isExpandable(trigger)}}
    </div>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item
        *ngIf="isLoading"
        style="display: flex; justify-content: center; align-items: center;">
        <mat-spinner mode="indeterminate"
            diameter="24"></mat-spinner>
    </button>
    <ng-container *ngFor="let node of data; let i = index">
        <!-- <span>NODE: {{node}}</span> -->
        <button mat-menu-item>
            <app-second-try-menu [trigger]="node"
                *ngIf="database.isExpandable(node); else menuItem"></app-second-try-menu>
        </button>
        <ng-template #menuItem>
            <!-- <button mat-menu-item><span>{{ node }}</span></button> -->
            <button mat-menu-item
                (click)="navigate(node)">{{node}} <div class="">end of the line</div></button>
        </ng-template>
    </ng-container>
</mat-menu>
