.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    .camera {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        max-width: 300px;
        img {
            width: 100%;
        }
    }
}
