 @for(beer of viStore.beersByLanguage();track beer) {
 <div class="beer"
     (click)="onInfo(beer)">

     <div class="left">
         <mat-icon>info</mat-icon>
         <div class="name">
             {{beer.nameSelectedLanguage}}
         </div>
     </div>


     <div class="right">
         <div class="price">
             {{beer.price|currency:"EUR"}}
         </div>
         <div class="alcohol-percentage">
             {{beer.alcoholPercentage}}%
         </div>
         <div class="volume">
             {{beer.volume}}cc
         </div>
     </div>

 </div>
 }
