<div class="app">
    <div class="title">store</div>
    {{store.consumptionsComponentVisible()}}
    <div class="state-properties">

        <pre><code><div class="state-property">selectedConsumption(): <span>{{store.selectedConsumption()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptions(): <span>{{store.consumptions()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">selectedConsumptionType(): <span>{{store.selectedConsumptionType()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptionTypesArray(): <span>{{store.consumptionTypesArray()|json}}</span></div></code></pre>
        <hr>

        <pre><code><div class="state-property">typesLoading(): <span>{{store.typesLoading()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptionLoading(): <span>{{store.consumptionLoading()|json}}</span></div></code></pre>
        <hr>
        <!-- <pre><code><div class="state-property">addingNewConsumption(): <span>{{store.addingNewConsumption()|json}}</span></div></code></pre> -->
        <hr>
        <pre><code><div class="state-property">consumptionTypeUC(): <span>{{store.consumptionTypeUC()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptionsComponentVisible(): <span>{{store.consumptionsComponentVisible()|json}}</span></div></code></pre>
        <hr>

        <pre><code><div class="state-property">consumptionDetailsComponentVisible(): <span>{{store.consumptionDetailsComponentVisible()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptionTypeDetailsComponentVisible(): <span>{{store.consumptionTypeDetailsComponentVisible()|json}}</span></div></code></pre>
        <hr>
    </div>

</div>
