.app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .consumptions-accordion {
        min-width: 30rem;
        mat-expansion-panel {
            mat-expansion-panel-header {
                mat-panel-title {
                }
                mat-panel-description {
                    display: flex;
                    justify-content: end;
                    .price {
                        width: 5rem;
                        display: flex;
                        justify-content: end;
                    }
                }
            }
            .consumption-properties {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                .consumption-property {
                    padding: 0.2rem 0.5rem;
                    border: 1px solid lightblue;
                    background-color: aliceblue;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    .selected {
        background-color: wheat;
    }
}
