<div class="app">
    <div class="title">images-admin</div>
    <div class="images">
        <!-- {{store.exhibitionUC()|json}} -->
        <!-- @for(image of store.exhibitionUC().ebImages; track exhibition){
        <img [src]="image.url"
            alt="">
        } -->
        @for(ebImage of store.exhibitionUC().ebImages; let first = $first; let last = $last; track ebImage; let i = $index ){
        <div class="image-container">
            <mat-icon (click)="onDeleteImage(ebImage)"
                color="warn">delete</mat-icon>
            <div class="image">
                <img [src]="ebImage.url"
                    alt="">
                <div class="filename">{{ebImage.filename}}</div>
            </div>
            <div class="icons">

                <mat-icon (click)="onMove('up', i)"
                    [ngStyle]="first ? {'visibility':'hidden' } : {}">
                    arrow_upward
                </mat-icon>
                <mat-icon (click)="onMove('down', i)"
                    [ngStyle]="last ? {'visibility':'hidden' } : {}">

                    arrow_downward</mat-icon>
            </div>
        </div>

        }
    </div>
    <input type="file"
        style="display: none;"
        (change)="onFileInputChange($event)"
        #fileInput>
    <button mat-raised-button
        (click)="fileInput.click()">add image</button>

</div>
