<div class="content">
    <div class="links">
        <a href="https://www.youtube.com/watch?v=vSwYuyH4kMA&t=677s">

            <img src="./../../../../assets/images/links/youtube-logo.png"
                alt=""
                class="logo">
        </a>
        <a href="https://github.com/chrisira/angular_localization-Youtube">
            <img src="./../../../../assets/images/links/github.png"
                alt=""
                class="logo">
        </a>
        <a href="https://github.com/ngx-translate/core/issues/1398">
            <img src="./../../../../assets/images/links/github.png"
                alt=""
                class="logo">
        </a>
    </div>
    <app-navbar></app-navbar>

    <div class="">
        put your json files in assets/ngx-translate/i18n
    </div>
    <ul>
        <li style="font-size: 3rem; font-weight: bold;"
            class="selected-language-abr">
            {{hanoService.selectedLanguage()}}
        </li>
        @for(original of originalsArr; track original) {

        <li>
            <div class="original">{{original}}</div>
            <div class="translation">{{original|translate}}</div>
        </li>
        }

    </ul>




    @for(snippet of snippets;track snippet) {
    <app-show-code [snippet]="snippet"></app-show-code>
    }
</div>
