.form-container {
    padding: 3rem 1rem;
    form {
        display: flex;
        flex-direction: column;
        width: 500px;
        max-width: 700px;
        margin: auto;
        // app-select-category {
        //     width: 100%;
        // }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            button {
                border: 1px solid gray;
            }
        }
    }
}
