<div class="app">
    @if(store.course()) {

    <div class="title">course details&nbsp;{{store.course().id}}</div>
    } @else {
    <div class="new-course title">adding new course</div>
    }
    <!-- {{store.selectedConsumptionType()|json}} -->
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>id</mat-label>
            <input type="text"
                readonly="true"
                matInput
                formControlName="id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>name dutch</mat-label>
            <input type="text"
                matInput
                formControlName="nameDutch">
        </mat-form-field>
        <mat-form-field>
            <mat-label>name english</mat-label>
            <input type="text"
                matInput
                formControlName="nameEnglish">
        </mat-form-field>
        <!-- <div class="on-edit-consumption">while adding or editing consumption:</div> -->

        <div class="title">On the consumptions form show:</div>

        <mat-checkbox formControlName="showNameDutch"
            (click)="$event.preventDefault()">
            show name dutch
        </mat-checkbox>
        <mat-checkbox formControlName="showNameEnglish">
            show name english
        </mat-checkbox>
        <mat-checkbox formControlName="showDescriptionDutch">
            show description dutch
        </mat-checkbox>
        <mat-checkbox formControlName="showDescriptionEnglish">
            show description english
        </mat-checkbox>
        <mat-checkbox formControlName="showAlcoholPercentage">
            show alcoholpercentage
        </mat-checkbox>
        <mat-checkbox formControlName="showVolume">
            show volume
        </mat-checkbox>
        <mat-checkbox formControlName="showVessel">
            show vessel
        </mat-checkbox>
        <mat-checkbox formControlName="showPrice"
            (click)="$event.preventDefault()">
            show price
        </mat-checkbox>
        <div class="buttons">
            <button mat-raised-button
                [disabled]="form.invalid"
                (click)="onSubmitForm()">{{store.course() ? 'update':'add'}}&nbsp;course</button>
            <button mat-raised-button
                (click)="onCancel()">cancel</button>
        </div>
    </form>
</div>
