<div class="cropper-dialog-component">

    <h1 mat-dialog-title>
        Please crop your photo
    </h1>
    <div mat-dialog-content>
        <image-cropper [imageFile]="data.image"
            [maintainAspectRatio]="true"
            [aspectRatio]="data.width / data.height"
            [resizeToHeight]="data.height*2"
            [resizeToWidth]="data.width*2"
            (imageCropped)="imageCropped($event)"></image-cropper>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button
            [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button
            color="primary"
            [mat-dialog-close]="result()">Done</button>
    </div>
</div>
