<div class="content">
    @if(show) {

    <form [formGroup]="myForm">
        <div formArrayName="myFormArray">
            <div *ngFor="let control of controls; let i = index">
                <input [formControl]="control"
                    placeholder="Item {{ i + 1 }}" />
            </div>
        </div>
    </form>
    }
    <button (click)="setFormArrayValues()">Set Values</button>
    <button (click)="onSubmit()">submit</button>
</div>
@if(show){
<!-- <pre><code>
        {{controls|json}}
        <hr>
    </code></pre> -->
<pre><code>
        {{myForm.value|json}}
    </code></pre>
}
