<div class="content">

    <button mat-raised-button
        (click)="store.toggleStoreComponentVisible()">toggle store visible</button>



    @if (store.coursesVisible()) {
    <app-courses />
    }

    @if(store.courseDetailsVisible()) {
    <app-course-details />
    }

    @if(store.consumptionsVisible()){
    <app-consumptions />
    }

    @if(store.consumptionDetailsVisible()){
    <app-consumption-details />
    }

    @if(store.storeComponentVisible()){
    <app-store-component />
    }


</div>
