@if(!auStore.isLoggedIn()){
<div class="visitor">
    <app-landing-page></app-landing-page>
</div>
}


@if(auStore.isLoggedIn()){
<div class="content">

    <div class="buttons">
        <button mat-raised-button
            (click)="store.toggleStoreComponentVisible()">toggle store visible</button>
        <button mat-raised-button
            (click)="store.toggleCoursesVisible()">toggle courses visible</button>
        <button mat-raised-button
            (click)="exStore.toggleExhibitionsVisible()">toggle exhibitions visible</button>
        <button mat-icon-button
            (click)="onLogout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>


    @if (store.coursesVisible()) {
    <app-courses />
    }

    @if(store.courseDetailsVisible()) {
    <app-course-details />
    }

    @if(store.consumptionsVisible()){
    <app-consumptions />
    }

    @if(store.consumptionDetailsVisible()){
    <app-consumption-details />
    }

    @if(store.storeComponentVisible()){
    <app-store-component />
    }
    @if(exStore.showExhibitions()) {
    <app-exhibitions-admin></app-exhibitions-admin>
    }
</div>
}
@if(!auStore.isLoggedIn) {

<button mat-raised-button
    (click)="login()">
    {{store.isAdmin() ?'to visitor':'to admin'}}
</button>
}
