<div class="app">
    <div class="title">courses</div>
    @if(!store.coursesLoading() ) {
    <ul class="consumption-types-list">
        @for(course of store.courses(); track course; let index = $index) {
        <li [ngClass]="{'selected' :indexSelected === index}"
            class="consumption-types-list-item">
            <div class="left">
                <div class="icons">
                    <mat-icon class="edit-icon"
                        color="primary"
                        (click)="onEdit(course)">edit</mat-icon>
                    <mat-icon class="delete-icon"
                        color="warn"
                        (click)="onDeleteCourse(course)">delete</mat-icon>
                </div>
            </div>
            <div class="right"
                (click)="onCourseSelected(index, course)">
                <div class="name-id">
                    <div class="name-dutch">{{course.nameDutch}}</div>
                    <div class="id">{{course.id}}</div>
                </div>
                <mat-icon class="search"
                    color="primary"
                    matPrefix>search</mat-icon>
            </div>
        </li>
        }
    </ul>
    }
    @if(store.coursesLoading()) {
    <mat-spinner></mat-spinner>
    }

    <button mat-raised-button
        (click)="onAdd()">add course</button>
</div>
