<mat-toolbar>
    <a routerLinkActive="link-active"
        routerLink="vasco">vasco</a>
    <a routerLinkActive="link-active"
        routerLink="zoaib">zoaib</a>
    <a routerLinkActive="link-active"
        routerLink="kurata">kurata</a>
    <a routerLink="monsterlessons"
        routerLinkActive="link-active">monsterlessons</a>
    <a routerLink="max"
        routerLinkActive="link-active">max</a>
    <a routerLink="udemy-signals"
        routerLinkActive="link-active">udemy-signals</a>
</mat-toolbar>
<router-outlet></router-outlet>
