:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos-list,
.todo-input {
    width: 100%;
    min-width: 400px;
}

.todo-item {
    display: flex;
    align-items: center;
}
.delete-todo {
    margin-right: 10px;
    cursor: pointer;
}
