main {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidenav" "content";
    grid-template-rows: 1fr;
    app-sidenav {
        height: 100%;
        background-color: lightgray;
        grid-area: sidenav;
        padding: 1rem;
    }
    router-outlet {
        grid-area: content;
    }
}
