.app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    form {
        display: flex;
        flex-direction: column;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
