.consumptions {
    .title {
        text-transform: uppercase;
        background-color: var(--eb-bright-orange);
        color: var(--eb-blue);
    }
    .consumption {
        .name {
        }
        .description {
        }
        .price {
        }
    }
}
