<div class="app">
    <div class="title">images-admin</div>
    <div class="images">

        @for(ebImage of exhibitionUC?.ebImages; let first = $first; let last = $last; track ebImage; let i = $index ){
        <div class="image-container">
            <app-image-admin-details [ebImage]="ebImage"
                [exhibitionId]="exhibitionUC.id"
                [index]="i">
            </app-image-admin-details>
        </div>
        }
    </div>
    <input type="file"
        style="display: none;"
        (change)="onFileInputChange($event)"
        #fileInput>
    <button mat-raised-button
        (click)="fileInput.click()">add image</button>
    <button mat-raised-button
        (click)="onDoneEditing()">done editing</button>

</div>
