<div class="content">
    <div class="links">
        <a href="https://ngrx.io/guide/signals"
            target="_blank">
            <img class="logo"
                src="./../../../../assets/images/links/ngrx.png"
                alt="">
        </a>
        <a href="https://www.youtube.com/watch?v=VPyra_5Ko-4&t=144s"
            target="_blank">
            <img src="./../../../../assets/images/links/youtube-logo.png"
                alt=""
                class="logo">
        </a>
    </div>

    <form [formGroup]="addForm"
        (ngSubmit)="onAdd()">
        <input type="text"
            placeholder="Add..."
            formControlName="title">
    </form>
    <div class="">total: {{store.postsCount()}}</div>
    @if(store.isLoading()) {
    <div class="">Loading...</div>
    }
    @if(store.error()) {
    <div class="">{{store.error()}}</div>
    }
    @for(post of store.posts();track post.id) {
    <div class="">{{post.title}}<span (click)="store.removePost(post.id)">X</span></div>
    }
</div>
