@import "prismjs/themes/prism-okaidia.css";

// @import "~@angular/material/theming";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content {
    padding: 1rem;
}
mat-toolbar {
    background-color: lightgray;
    border-bottom: 1px solid black;
    display: flex;
}
a {
    text-decoration: none;
    // text-transform: capitalize;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    border-radius: 3px;
}
.link-active {
    background-color: black;
    color: white;
}
.links {
    width: 100%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .logo {
        width: 3rem;
    }
}
.snippet {
    padding: 1rem;
    background-color: lightgray;
}
.title {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem 0;
}
ul {
    list-style: none;
}
