<div class="app">
    <div class="title">store</div>
    {{store.consumptionsVisible()}}
    <div class="state-properties">
        <pre><code><div class="state-property">courses(): <span>{{store.courses()|json}}</span></div></code></pre>
        <hr>

        <pre><code><div class="state-property">consumption(): <span>{{store.consumption()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptions(): <span>{{store.consumptions()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">course(): <span>{{store.course()|json}}</span></div></code></pre>
        <hr>

        <pre><code><div class="state-property">typesLoading(): <span>{{store.typesLoading()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptionLoading(): <span>{{store.consumptionLoading()|json}}</span></div></code></pre>
        <hr>
        <!-- <pre><code><div class="state-property">addingNewConsumption(): <span>{{store.addingNewConsumption()|json}}</span></div></code></pre> -->
        <hr>
        <!-- <pre><code><div class="state-property">consumptionTypeUC(): <span>{{store.consumptionTypeUC()|json}}</span></div></code></pre>
        <hr> -->
        <pre><code><div class="state-property">coursesVisible(): <span>{{store.coursesVisible()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">courseDetailsComponentVisible(): <span>{{store.courseDetailsVisible()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptionDetailsVisible(): <span>{{store.consumptionDetailsVisible()|json}}</span></div></code></pre>
        <hr>
        <pre><code><div class="state-property">consumptionsVisible(): <span>{{store.consumptionsVisible()|json}}</span></div></code></pre>
        <hr>

    </div>

</div>
